streamlit==1.55.0
streamlit-folium==0.27.1
st-gsheets-connection==0.1.0
numpy<2.0.0
pandas==2.2.2
folium==0.20.0
plotly==6.6.0
pyarrow>=14.0.0
openpyxl==3.1.5
pillow==12.1.1
duckdb==1.5.1
gspread==5.12.4
google-auth==2.49.1
validators==0.35.0
watchdog==6.0.0
fpdf2==2.8.7